  
  @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

  *{
    margin: 0;
    padding: 0;
  }
  .sesao-principal {
    background-color: #d6e1f0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
   .sesao-dois{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
   }
  .conteudo-principal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    width: 210px;
    height: 360px;

  }
  
  .imagem {
    width: 210px;
    border-radius: 10px;
  }

  h1 {
    font-size: 18px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
  }
  
  p {
    text-align: center;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    color: #79899f;
  }