@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

    * {
      margin: 0;
      padding: 0;
    }

    .conteudo-principal {
      background-color: #d6e1f0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .sesao-um {
      
      background-color: rgb(255, 255, 255);
      border: 13px solid rgb(255, 255, 255);
      border-radius: 15px 15px 15px 15px;
      border-bottom: 40px solid rgb(255, 255, 255);
    }

    .sesao-dois {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 21px;
      background-color: rgb(255, 255, 255);
      width: 305px;
    }

    .conteudo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: #ffffff;
     /* width: 271px; */
    }

    .imagem {
      width: 299px;
      border-radius: 10px;

    }

    h1 {
      font-size: 23px;
      text-align: center;
      font-family: 'Outfit', sans-serif;
      width: 290px;
      color: #262F4C;
    }

    p {
      width: 259px;
      text-align: center;
      font-size: 16px;
      font-family: 'Outfit', sans-serif;
      color: #79899f;
      background-color: rgb(255, 255, 255);
    }
